.easy-email-extensions-Tools-Popover .arco-popover-content {
  padding: 0;
}
.easy-email-extensions-Tools-Popover .arco-popover-content-inner *::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
.easy-email-extensions-Tools-Popover .arco-popover-content-inner *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
