.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#easy-email-editor {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
.easy-email-overlay {
  overflow: auto;
}
.easy-email-overlay {
  overflow: overlay !important;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
