.easy-email-extensions-emailToolItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  font-weight: 400;
  appearance: none;
  cursor: pointer !important;
  white-space: nowrap;
  transition: all 0.1s linear;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  background-color: transparent;
  color: #fff;
  width: 28px;
  height: 27px;
  &:hover {
    background-color: rgba(242, 243, 245, 1);
    color: rgb(78, 89, 105);
  }
}
.easy-email-extensions-emailToolItem-active {
  background-color: rgba(242, 243, 245, 1);
  color: rgb(78, 89, 105);
}

.easy-email-extensions-divider {
  position: relative;
  display: inline-flex;
  width: 1px;
  height: 16px;
  background-color: rgba(128, 128, 128, 0.9);
}
