{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "printWidth": 90,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}