.SimpleLayout {
  :global {
    .arco-layout-sider-children {
      overflow-x: hidden;
      .arco-tabs-content {
        padding: 0;
      }
    }
    .arco-collapse-item-content-expanded {
      overflow: visible;
    }
  }
  *::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.rightSide {
  :global {
    .arco-tabs-header {
    }
  }
}

.customScrollBar {
  overflow: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  :global {
    .arco-tabs-content {
      padding: 0;
    }
  }
}
.customScrollBarV2 {
  overflow: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
