.easy-email-editor-tabWrapper {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  padding: 0 8px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--color-neutral-3, rgb(229, 230, 235));
}

.easy-email-editor-tabItem {
  position: relative;
  padding: 8px 0px;
  background: transparent;
  border: 0;
  &:hover {
    button {
      color: rgb(var(--primary-6, #1890ff));
    }
  }
}

.easy-email-editor-tabActiveItem {
  button {
    color: rgb(var(--primary-6, #1890ff));
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(var(--primary-6, #1890ff));
    pointer-events: none;
  }
}
