.title {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  :global(.icon-eye) {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }

  :global(.icon-eye-invisible) {
    opacity: 1 !important;
  }
}
