.easy-email-table-operation-menu {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  z-index: 100;
  overflow: hidden;
  border-radius: 4px;
  padding: 4px 0;

  .easy-email-table-operation-menu-dividing {
    height: 1px;
    background-color: #efefef;
  }

  .easy-email-table-operation-color-picker {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 16px 10px;
    background-color: #fff;
    overflow: hidden;

    .easy-email-table-operation-color-picker-item {
      width: 20px;
      height: 20px;
      border: 1px solid #595959;
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }

  .easy-email-table-operation-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    line-height: 18px;
    background-color: #fff;
    cursor: pointer;
    color: #595959;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #efefef;
    }

    .easy-email-table-operation-menu-icon {
      margin-right: 8px;
      height: 20px;
      width: 20px;
      font-size: 0;
    }
  }

  .easy-email-table-operation-menu-bg-item {
    padding: 10px 16px;
    background-color: #fff;
    color: #595959;

    > div:nth-child(2) {
      margin-top: 4px;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .arco-input-inner-wrapper {
        box-shadow: none;
      }
      .arco-btn-size-default {
        padding: 0 12px;
      }

      .arco-input-group {
        display: flex;
        .arco-input-inner-wrapper {
          flex: 1;
        }
        .arco-input-group-addafter {
          height: 100%;
          width: auto;
        }
      }
    }

    &-color {
      height: 28px;
      width: 28px;
      flex-shrink: 0;
      border: 1px solid var(--color-neutral-3, rgb(229, 230, 235));
      border-right: none;
      padding: 4px;
      cursor: pointer;
      position: relative;

      > div {
        height: 100%;
        width: 100%;
        border: 1px solid var(--color-neutral-3, rgb(229, 230, 235));
        border-radius: 2px;
      }
      input {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
}
