.baseComponent {
  color: #b3b3b3;
  position: relative;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  margin: 1px;

  .closeBtn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover .closeBtn {
    opacity: 1;
  }

  .title {
    margin-top: 10px;
    font-size: 12px;
    color: #2c2c2c;
  }

  .largeTitle {
    font-size: 18px;
  }
}
