# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

SECRET='SECRET'

# When deploying to production, set the `NEXTAUTH_URL` environment variable to the canonical URL of your site.
NEXTAUTH_URL='http://localhost:3000'

# GitHub OAuth
GITHUB_ID=""
GITHUB_SECRET=""

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=