.helperText {
  color: rgba(109, 113, 117, 1);
  font-weight: 400;
  line-height: 1.3;
  text-transform: none;
  letter-spacing: normal;
}

.label-hidden {
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.editTab {
  :global {
    .arco-tabs-content {
      border: none;
    }
    .arco-tabs-header-nav {
      padding-right: 15px;
    }
  }
}

.inputWithUnit {
  :global {
    .arco-select-view {
      padding: 0px 5px !important;
      text-align: center;
      .arco-select-view-value {
        overflow: visible;
      }
    }
  }
}

.inputWithUnitSelectOption {
  padding: 0px 5px !important;
  text-align: center !important;
}

.colorPicker {
  :global(.sketch-picker .flexbox-fix:nth-child(3)) {
    display: none !important;
  }
}
