.strong {
  font-weight: 600;
}

.subdued {
  color: rgba(109, 113, 117, 1);
}

.largest {
  font-size: 24px;
}

.extraLarge {
  font-size: 20px;
}

.large {
  font-size: 18px;
}

.normal {
  font-size: 16px;
}

.small {
  font-size: 14px;
}

.smallest {
  font-size: 12px;
}
