.container {
  background-color: #fff;
  :global(.ant-collapse-content > .ant-collapse-content-box) {
    padding: 0;
  }
  .collapse {
    background-color: #fff;
    .list {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 1;

    }
  }
}
