$primary-color: #417505;
$max-page-size: 480px;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.visible-on-hover {
  opacity: 0;
  transition: all 0.5s;
  &:hover {
    opacity: 1;
  }
}
