.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 5px 0px 5px;
  overflow-y: scroll;
  overflow-x: auto;
}
.customScrollBar {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
  }
}

.block-hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
