.mj-accordion-content {
  display: block !important;
}

[data-dashed='true'] .email-block {
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
}

.node-type-page {
  min-height: 100%;
  padding-bottom: 100px;
}
.node-type-page * {
  user-select: none;
}

:not(.email-block) {
  -webkit-user-drag: none;
  cursor: default;
}

.email-block:focus-visible {
  outline: none;
}

[contenteditable='true'] {
  outline: none;
}
