.mj-accordion-content {
  display: block !important;
}

[data-dashed='true'] .email-block {
  outline: 1px dashed rgba(170, 170, 170, 0.7);
  outline-offset: -2px;
}

.node-type-page {
  min-height: 100%;
  padding-bottom: 100px;
}
.node-type-page * {
  user-select: none;

  /** In firefox when user select is null you cannot select any styled text.
  This fixes the issue.
  See https://stackoverflow.com/questions/69776749/contenteditable-not-working-properly-on-firefox
  */
  -moz-user-select: text;
}

:not(.email-block) {
  -webkit-user-drag: none;
  cursor: default;
}

.email-block:focus-visible {
  outline: none;
}

[contenteditable='true'] {
  outline: none;
}
