<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Easy email is developed based on the MJML and has very good compatibility. At the same time, it can generate code through drag-and-drop editing." />
  <%- buildTime %>
    <title>easy email</title>
</head>

<body style="height: 100vh">
  <div id="root" style="width: 100%; height: 100%">
    <div style="
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        ">
      <img width="200px" src="https://assets.maocanhua.cn/Fj1gmWbF-aY3ZnPyrTrDge6atRnm" alt="" />
      <p style="font-size: 24px; color: rgba(0, 0, 0, 0.65)">
        Please wait a moment.
      </p>
    </div>
  </div>
  <script type="module" src="/src/main.tsx"></script>
  <%- analysis %>
</body>

</html>