.treeNodeList {
  list-style: none;
  margin: 0;
  padding: 0;

  .treeNodeWrapper {
    display: flex;
    flex-direction: column;
    .treeNode {
      position: relative;
      display: flex;
      padding: 8px;
      cursor: pointer;
      align-items: center;
      &:hover:not(.treeNodeSelected) {
        background-color: #f5f5f5;
      }
      .treeNodeTitle {
        flex: 1;
        font-size: 12px;
        margin-left: 8px;
      }
    }

    .treeNodeSelected {
      background-color: #eaf3ff;
      &::before {
        content: "";
        background-color: rgba(44, 110, 203, 1);
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        display: block;
        width: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
