.layoutItem {
  :global {
    .arco-collapse-item-header {
      background-color: #fff !important;
      border-color: transparent !important;
    }
  }
}

.blockItem {
  margin-bottom: 20px;
  box-shadow: rgb(55 63 71 / 4%) 0px 0px 0px 1px, rgb(55 63 71 / 8%) 0px 4px 4px 0px,
    rgb(55 63 71 / 8%) 0px 8px 24px 0px;
  border: 2px solid transparent;
  border-radius: 4px;
  margin-right: 15px;
  &:hover {
    // border-color: rgb(var(--primary-4, #1890ff)) !important;
    box-shadow: 0px 0px 2px 2px rgb(var(--primary-4, #1890ff)) !important;
  }
  .blockItemContainer {
    width: 96px;
    height: 96px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.blockItem:nth-child(3n + 1) {
  margin-left: 15px;
}
.blockItem:nth-child(3n + 0) {
  margin-right: 0;
}
