:global(.ant-tabs-tab-active) .blockItem {
  background-color: #d6e6ff;
  // color: #fff;
}
.BlocksPanel {
  img {
    max-width: 100%;
  }
}
.blockItem {
  text-align: center;
  padding: 3px 12px;
  border-radius: 15px;
  min-width: 60px;
}

.popover :global(.ant-popover-inner-content) {
  padding: 0;
}
.popover :global(.ant-tabs-nav-list) {
  max-height: calc(100vh - 180px);
  overflow: auto;
}

.closeBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    background-color: #f7f8f8;
  }
}
