#VisualEditorEditMode {
  position: relative;
  * {
    animation: none !important;
  }

  .block-selected {
    outline-offset: -2px;
    outline: 2px solid #3b97e3 !important;
  }

  .block-hover {
    outline-offset: -1px;
    outline: 1px solid #3b97e3;
  }

  .block-dragover {
    outline-offset: -2px;
    outline: 2px solid #D0021B !important;
  }

  .block-tangent {
    outline-offset: -2px;
    outline: 2px solid #F5A623 !important;
  }

}

#VisualEditorEditMode[data-h5="true"],#VisualEditorRenderMode[data-h5="true"] {

  &::-webkit-scrollbar {
    width: 0px;
  }

  * {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}


[data-node-idx] {
  background-size: 100%;
  background-repeat: no-repeat;
}