.baseComponent {
  width: 150px;
  height: 70px;
  padding: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  position: relative;
  border: 1px solid #b3b3b3;
  background-color: rgba(255,255,255, 0.8);
  text-align: center;
  flex: 1;

  .icon svg {
    font-size: 36px;
  }
  &:nth-child(3n) {
    border-right: none;
  }
  .closeBtn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover .closeBtn {
    opacity: 1;
  }

  .title {
    margin-top: 10px;
    font-size: 12px;
    color: #2c2c2c;
  }

  .largeTitle {
    font-size: 18px;
  }
}
