.wrap {
  position: fixed;
  left: 500px;
  top: 200px;
  z-index: 9999;
  background-color: var(--color-neutral-2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 500;

  .listItem {
    padding: 5px 15px;
    display: flex;
    flex-wrap: nowrap;
    cursor: default !important;
    &:hover {
      background-color: var(--color-menu-dark-hover);
    }
  }
}

.contextmenuMark {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9998;
}
